@media (min-width: 768px) and (max-width:991px)
{

  

/*Travail sur la Navigation et logo*/

.logo 
{
    width:24%;
}

.line
{
    width:100%;
    position: relative;
    right: 130px;
}

.line1
{
    width:100%;
    position: relative;
    right:80px;
}
.line:hover
{
    width:100%;
    color:#0065FC;
    position: relative;
    right: 130px;
}

.line1:hover
{
    width:100%;
    color:#0065FC;
    position: relative;
    right:80px;
}

.tabpositionh1
{
    padding-top:20px;
}


/*Travail sur la barre de recherche*/

.logo-color
{
    width:8%;
}
.A 
{
    width:30%;
}
::placeholder
{
    padding-left: 10px;
}
.rep 
{
    display: flex;
    width:18%;
    
}

/*Travail sur les Filtres*/

.filtre
{
    display: block;
    flex-direction:row;
    width:80%;
}
.F1 
{
    position: relative;
    top:15px;
    left:40px;
}
.F2 
{
    position: relative;
    left:10px;
    height:45px;
}

.iconefiltres
{
    width:45%;
    height:45px;
}

.ftext 
{
    padding-left: 5px;
    font-size:18px;
}

.ftext1
{
    width:27%;
}

 .ftext2
{
    width:23%;
}
.icon1,.icon2
{
    width:48%;
    padding-top: 10px;
}

.ftext3
{
    width:30%;
}
.icon3
{
    width:33%;
    padding-top: 10px;
}

.ftext1, .ftext2,.ftext3
{
    display: inline-flex;
    margin:5px;
    position:relative;
    left:25px;
}

.ftext4
{
    width:45%;
}
.icon4
{
    width:25%;
    padding-top: 10px;
}


.iconeInfo
{
    width:4%;
}

/*Travail sur la partie Populaire et Hébergement*/


#hebergementmarseille
{
    display: flex;
    flex-direction: column;
}
.blochebergement
{
    width:92%;
}

.titrehotel1, .soustitre1
{
    font-size:72%;
}

.titrehotel2, .soustitre2
{
    font-size:72%;
    padding-bottom: 5px;
}

.etoile1, .etoile2
{
    top:12px;
}


.blocpopulaire
{
    display: flex;
    width:92%;
    height:900px;
}
.grostitre2
{
    font-size:25px;
}
.titrehotel3, .soustitre3
{
    width:90%;
    font-size:22px;
    position: relative;
    left:15px;
}

.cadre 
{
    width:90%;
    height:220px;
    position:relative;
    bottom:30px;
    left:8px;
    padding-bottom:20px;
}
.image3 
{
    width:48%;
    height:202px;
    position: relative;
    right:18px;
    top:2px;
}

.fond3
{
    width:45%;
    bottom:170px;
}

.etoile3
{
    width:18%;
    font-size:18px;
    position: relative;
    left:15px;
}
.etoilex, .etoiley, .etoilez
{   position: relative;
    top:20px;
}


.conteneur
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bloc1, .bloc2
{
    width:90%;
}
.bloc1
{
    position:relative;
    top:190px;
    left:10px;
}

.bloc2
{
    position:relative;
    top:225px;
    left:25px;
}
.activimage1
{
    width:46%;
    position: relative;
    left:25px;
}
.blocimage
{
    width:50%;
    position: relative;
    left:70px;
    flex-direction: column;
}

.activimage2, .activimage3
{
    flex-grow:1;
    width:108%;
    margin:0;
    padding:0;
}
.activimage4
{
    width:46%;
    position: relative;
    left:20px;

}
.blocimage2
{
   width:50%;
}

.activimage5, .activimage6
{
    flex-grow:1;
    width:108%;
    margin:0;
    padding:0;
}

.footer
{   width:100.6%; 
    height:190px;
    position:relative;
    top:520px;
}

.titrefooter
{
    font-size:16px;
}
.listeA
{
    width:102%;
    font-size:15px;
}

.apropos
{
    width:105%;
    height:150px;
    left:50px;
}

.noshebergements
{
    width:105%;
    height:150px;
    left:50px;
}

.assistance
{
    width:75%;
    height:150px;
    position: relative;
    left:50px;
   
}



}

